#scatterplot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}

#scatterplot-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}

#scatterplot-controls > div {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

#scatterplot-controls > div > label {
  font-size: 0.7rem;
}

#scatterplot-controls > div > select {
  width: 100%;
}
